.idea/
*.iml
*.log
.DS_Store
Thumbs.db

# Android
mobile/.gradle/
mobile/.kotlin/
mobile/build/
mobile/app/build/
mobile/local.properties

# Node
server/node_modules/
server/dist/
server/.env

# OS/Editor
.vscode/
